
/* vietnamese */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mavenpro/v22/7Auup_AqnyWWAxW2Wk3swUz56MS91Eww8SX21nijpBh8CvRBOB1s.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mavenpro/v22/7Auup_AqnyWWAxW2Wk3swUz56MS91Eww8SX21nmjpBh8CvRBOB1s.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mavenpro/v22/7Auup_AqnyWWAxW2Wk3swUz56MS91Eww8SX21nejpBh8CvRBOA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

nav {
  width: 100%;
  height: 2rem;
  background-color: #90CBFB;
  position :fixed;
  top :0;
  margin-left:-8px;
}
.navigationformat{
  list-style-type:none;
  padding:0;
  margin: 0; 
}
 .navigationlistformat{
  width : 7%; 
  text-align : center;
  margin : 0.25rem 0 0.3rem 1rem; 
  display :inline-block;
}
.navigationbuttonformat{
    font-weight: normal;
    color : white;
    text-decoration : none;
    display : block; 
    height: 2.1rem;
    margin-top : -5px; 
    padding-top : 6px; 
}
.textcolor{
  font-weight: normal;
  color : #90CBFB;
  text-decoration : none;
  display : block; 
  padding: 0.1rem;
}
.navigationbuttonformat:hover{ 
  background-color: white;
  color: #90CBFB; 
}
.textcolor:hover{ 
  background-color: #90CBFB;
  color:white; 
}
body {
  font-family:'Maven Pro';
  height: 100vh;
}

.card {
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  padding: 60px;
}

.profile-image {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}

.block{
 width : 3%; 
 margin-bottom : 1rem;
 display :inline-block;
}

li{
  display: block;
  font-size: 15px ;
  margin-bottom: 1rem;
}
.titlecenter{
  text-align:center;
  margin : 3rem; 
 font-weight:400; 
}
.othertitle{
  margin-top : 3rem;
  margin-left: 1rem;
  font-weight:400; 
  font-size:x-large;
}

.paragraphwidth{
  width: 70%;
  text-align:center;
  margin : auto; 
}
.graduation-image{
  margin : 2rem 5rem 0 0;
  float:right;
  height: 400px;
  width: 300px;
}
.flipcardcontainer{
  position: relative;
  height: 170px;
  width: auto;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
}
.flipcardcontainer:hover #card-front {
  transform: rotateX(-180deg);
}
.flipcardcontainer:hover .card-back {
  transform: rotateX(0deg);
}

#card-front {
  height: 180px;
  width: 180px;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
}

.card-back {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  margin-top:-100%;
  position: relative;
  background-color: white;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
  color: #030303;
  text-align: center;
  padding: 15px 10px 5px 10px;
}
.description{
  font-size: 13px;
  width: 50%;
  padding-left:2rem; 
}
i{
  margin-left: 0.5rem;
}
.orderform{
  margin : 1rem 0 1rem 4rem; 
}
.inputbar{
  display: block; 
  height:2rem; 
  width: 50%; 
}
.active{
  background-color: #90CBFB;
  color : white;
  width:7%;
  height: 3rem; 
  margin : 1rem -2rem 1rem 3rem; 
  border-radius: 5%;
  border: 2px;
}
.active:hover{ 
  background-color: white; 
  color: #90CBFB;
  border:1px solid #90CBFB;
}
#additional-info {
  font-family: 'Maven Pro';
  font-size:smaller; 
  height: 3rem; 
}
#google-map{
  margin-left:2rem; 
}
.footer{
  background-color: #F2F2F2;
  width :102%; 
  margin-left:-0.5rem;
}
.footerlist{
  padding-top: 0.5rem;
  margin-bottom :0rem; 
  list-style-type:none;
  text-decoration: none;
  color:black;
  font-size: small;
}
#used-language{
  font-style:italic;
  font-size:x-small;
  padding: 0rem  2rem 1rem 0rem;
  text-align: right;
}
.disabledbutton{
  background-color: #9c9ea0;
  color : white;
  width:7%;
  height: 3rem; 
  margin : 1rem -2rem 1rem 3rem; 
  border-radius: 5%;
  border: 2px;
}
.positiontag{
  padding-right: 2rem;
  text-align:right;
}

